*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#landing{
    height: 100vh;
    width: 100%;
    background-color: skyblue;
    padding: 2.5%;
}

#inside{
    height: 94vh;
    width: 100%;
    background-color: white;
    /* padding: %; */
}

#navmain{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 45px 45px;
    padding-top: 40px;
    font-weight: bold;
    padding-right: 45px;
    text-align: center; 

} 

#how{
    display: flex;
    align-items: center;
    gap: 4rem;
    

} 

#login{
    display: flex;
    text-align: center;
    gap: 2rem;
}

#login a{
    border: 1px solid black;
    padding: 10px 16px;
    text-decoration: none;
}

#login .loginn{
    border: 1px solid black;
    padding: 10px;
}

a:hover{
    background-color: black;
    color: white;
    transition: all .3s ease;
}

#together{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

#image img{
    width: 100%;
    height: 65vh;
}

#were h1{
    font-size: 6vw;
    font-weight: bold;
    line-height: 1;
}

#were p{
    font-size: 1.5vw;
    padding-top: 9vh;
    font-weight: 1.125rem;
}

#were a{
    border: 1px solid black;
    padding: 18px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1vw;
    margin-right: 50px;
    display: inline-block;
    margin-top: 50px;
}


#footer{
    padding-top: 16px;
    text-align:center;
    font-weight: bold;
}
